{% extends 'boober/ride_base.html' %}
{% load thumbnail %}

{% block base_container %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            min-height: 400px;
            width: 80%;
            margin-bottom: 35px;
        }
    </style>

    <div id="auto-reload" {% if ride.status == 'ride' %}class="no-reload"{% endif %}>
        {% if ride.status == 'ride' %}
            <h2><i class="fa fa-female"></i> {% _ 'Please wait for driver to arrive!' %} (tel: {{ ride.driver.phone }})</h2>

            <section style="margin-bottom: 20px;">
                <div class="container">

                    <div id="map"></div>

                </div>
            </section>
            <a href="{% url 'boober.client_cancel' pk=ride.pk %}"
               class="btn mb20 btn-small btn-transparent-primary">{{ 'Cancel'|_ }}</a>
        {% elif proposal.cancelled %}
            <h2>{% _ 'We are sorry, seems driver cancelled an order' %}</h2>

            <a href="{% url 'boober.client_waiting' pk=ride.pk %}"
               class="btn mb20 btn-small btn-transparent-primary">{% _ 'Go back' %}</a>

        {% else %}

            <h2><i class="fa fa-female"></i> {% _ 'Waiting confirmation' %}</h2>

            <section style="margin-bottom: 20px;">
                <div class="container">
                    <p>
                        {% _ 'Waiting while driver confirms the ride.' %}
                    </p>

                </div>
            </section>
            <a href="{% url 'boober.client_cancel' pk=ride.pk %}"
               class="btn mb20 btn-small btn-transparent-primary">{% _ 'Cancel' %}</a>

        {% endif %}


    </div>
{% endblock %}

{% block extra_script %}
    <script>

        function initMap() {

            console.log('Initializing map');

            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{ ride.driver.location_lat }}, lng: {{ ride.driver.location_lon }}},
                zoom: 15
            });

            var image = {
                url: '/images/boob.svg',
                {#size: new google.maps.Size(50, 50)#}
                scaledSize: new google.maps.Size(50, 50)
            }

            var marker = new google.maps.Marker({
                map: map,
                dragable: true,
                icon: image,
                animation: google.maps.Animation.DROP,
                anchorPoint: new google.maps.Point(0, 0)
            });

            var newPoint = new google.maps.LatLng({{ ride.driver.location_lat }}, {{ ride.driver.location_lon }});

            marker.setPosition(newPoint);

            setInterval(function () {
                $.ajax({
                    type: "GET",
                    url: '/en/api/boober/ride/{{ ride.pk }}/',
                    success: function (ride) {
                        if (ride.status == 'done') {
                            location.href = "{% url 'boober.thankyou' %}"
                        } else {
                            var position = new google.maps.LatLng(parseFloat(ride.driver.location_lat), parseFloat(ride.driver.location_lon));
                            marker.setPosition(position);
                            marker.map.setCenter(position);
                            map.setZoom(15);
                        }

                    },
                    dataType: 'json'
                });
            }, 4000);

        }

        function waitForMap() {
            console.log('Waiting for map');
            var wfm = setInterval(function () {
                console.log('Waiting...');
                if (document.getElementById('map')) {
                    clearInterval(wfm);
                    initMap();
                }
            }, 2000);
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCYsyCtrprmQ43dsihT7ShSaGUCh-RTLrU&callback=waitForMap"
            type="text/javascript"></script>



{% endblock %}